.filter-title {
  font-family: $filter-title-font;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

.category {
  float:left;
  font-size: 20px;
  font-family: $filter-font;
  margin-left: 8px;
}

input[type="radio"], input[type="checkbox"]
{
  float:right;
  margin-right: 8px;
  width:31px;
  height:21px;
}

.slider {
  margin-left: 8px;
}

.filter {
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
  height: 50px;
}

.filter-subtitle {
  font-size: 20px;
  font-family: $filter-font;
}

.encapsulate {
  margin-bottom: 70px !important;
}

.navbar-guest-fitler {
  padding: 0px !important;
}
