<%= simple_form_for([@activity, @booking]) do |f| %>
  <!-- Step 1 - adding number of people -->
  <div class="step-1" id="navbar-form">
    <div class="container sam-booking-form">
      <div class="step-title">
        <h6 class="heading-floating-navbar">Book Now</h6>
      </div>

      <div class="group-master">
        <div class="form-group integer optional booking_no_ppl" id="ppl">
          <div class="plusminus">
            <div class="flex">
            <div class="location-icon" style="float:left;"><i class="fa fa-users" aria-hidden="true"></i></div>
            <div class="form-minus" style="padding-left: 10px;"><i class="fa fa-2x fa-minus-circle" aria-hidden="true"></i></div>
            <label class="control-label integer optional" for="booking_no_ppl"></label>
            <input class="form-control numeric integer optional smaller-size inline1" placeholder="0" type="number" step="1" name="booking[no_ppl]" id="booking_no_ppl" value="1">
            <div class="form-plus inline2"><i class="fa fa-2x fa-plus-circle" aria-hidden="true"></i></div>
            <div class="form-next">Next</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Step 1 - choosing a timelsot -->
  <div id="step2_form">
    <%= render 'shared/step2', hidden: true %>
  </div>

  <%= f.submit "GOOOO", class: 'submit-step' %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    console.log('hello')
    // hiding and showing step 1 and 2
    const step2 = document.querySelector(".step-2")
    const step1 = document.querySelector(".step-1")
    const submit = document.querySelector('.submit-step')
    const button = document.querySelector(".form-next")

    button.addEventListener("click", event => {
      step1.classList.toggle("hidden-step");
      step2.classList.toggle("hidden-step");
      step2.classList.toggle("active");
    });

    // Adding and minus ppl
    const x = document.getElementById("booking_no_ppl");
    const y = document.querySelector(".form-plus");
    const z = document.querySelector(".form-minus");

    y.addEventListener("click", event => {
      const initialValue = Number(x.value);
      x.value = initialValue + 1;
    })
    z.addEventListener("click", event => {
      const initialValue = Number(x.value);
      if (initialValue > 0) {
        x.value = initialValue - 1;
      }
    })

    // selecting a time
    const timeslots = document.querySelectorAll(".bookings label")
    timeslots.forEach(timeslot => {
      timeslot.addEventListener("click", event => {
        // timeslots.forEach(timeslot => timeslot.classList.remove('selected'));
        // event.currentTarget.classList.add('selected');
        // console.log(event.currentTarget.querySelector('input').checked);
        submit.click()
      });
    });

  </script>
  <% end %>
