<% activity = notification.availability.activity %>
<% availability = notification.availability %>
<% img = notification.notifierable.photo? ? notification.notifierable.photo.url(:bright_face)  : 'jsut0cgif0nnmpalnwpn' %>
<%= link_to admin_activity_availability_path(activity, availability) do %>
  <div class="notification">
    <%= cl_image_tag img, class: "avatar-msg" %>
    <p><%= notification.availability.activity.name %></p>
    <i class="fa  fa-commenting-o"></i>
  </div>
<% end %>
