<% if params[:controller] == 'admin/activities' %>
  <% highlighted = 'nav-active' %>
<% end %>


<ul>
  <%= link_to admin_activities_path do %>
    <li class="sidebar-wagon-item sidebar-wagon-link">
      <i class="fa fa-bar-chart-o"></i>
      <p>Dashboard</p>
    </li>
  <% end %>
  <%= link_to admin_activities_path do %>
    <li class="sidebar-wagon-item sidebar-wagon-link <%= highlighted %> " >
      <i class="fa fa-calendar-check-o"></i>
      <p>Calendar</p>
    </li>
  <% end %>
  <%= link_to admin_activities_path do %>
    <li class="sidebar-wagon-item sidebar-wagon-link">
      <i class="fa fa-tags"></i>
      <p>Activities</p>
    </li>
  <% end %>
</ul>

