<div>
        <ul>
          <li>
            <i class="fa fa-bar-chart-o"></i> <%=link_to "Dashboard", admin_activities_path, class: "sidebar-wagon-item sidebar-wagon-link" %></li>
          <li>
            <i class="fa fa-calendar-check-o"></i> <%=link_to "Calendar", admin_activities_path, class: "sidebar-wagon-item sidebar-wagon-link" %></li>
          <li>
            <i class="fa fa-tags"></i> <%=link_to "Activities", admin_activities_path, class: "sidebar-wagon-item sidebar-wagon-link" %></li>
        </ul>
</div>

