<%= render "shared/navbar1" %>
<div class="banner" style="height: 100vh; background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 1%), url('https://images.unsplash.com/photo-1504665972199-8e1eeab59fc3?auto=format&fit=crop&w=2550&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
  <%= content_for(:navbar_class, "navbar-home") %>
  <div class="banner-content">
    <h1>Smack dat!</h1>
    <p>Find an activity near you</p>
  </div>
</div>

