<div class="show-page-header" >
  <div class="calendar-header">
    <div class="top-line-show">
      <h1 style="text-align: left;">How are we doing this week?<br><small style="color: black;">Let's catch up with our KPIs</small></h1>
    </div>
  </div>
</div>


<div class="dashboard-page">

  <div class="top-stats">
    <div class="stat">
      <div class="stat-inside">
        <span>Most Popular Activity</span>
        <h2> Surfing</h2>
      </div>
    </div>
    <div class="stat">
      <div class="stat-inside">
        <span> Weekly Sales</span>
        <h2> $12,000</h2>
      </div>
    </div>
    <div class="stat">
      <div class="stat-inside">
        <span>Availabilities booked</span>
        <h2>43%</h2>
      </div>
    </div>
  </div>


  <div class="dashboard-chart-div">
    <span>Weekly Sales</span>
    <div class="dashboard-chart" id="chart_container"></div>
    <div></div>
  </div>

</div>



<%= content_for(:after_js) do %>
  <script>

    Highcharts.chart('chart_container', {
        title: {
            text: ''
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            title: {
                text: 'Number of Guests'
            }
        },

        xAxis: {
        type: 'datetime'
        },

        legend: {
            layout: 'horizontal',
            align: 'left',
            verticalAlign: 'bottom'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: Date.UTC(2017, 0, 1),
                pointInterval: 200 * 3600 * 1000
            }
        },

        series: [{
            name: 'Surfing',
            data: [23, 37, 18, 30, 48, 12, 67]
        }, {
            name: 'Yoga',
            data: [32, 39, 56, 76, 80, 71, 89, 101]
        }, {
            name: 'Paddleboarding',
            data: [23, 37, 18, 30, 48, 12, 67]
        }, {
            name: 'Snorkelling',
            data: [null, null, 56, 76, 80, 71, 89, 101]
        }, {
            name: 'Watersports',
            data: [23, 37, 18, 30, 48, 12, 67]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 400
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    },
                }
            }]
        }

    });

// pie chart thing
        $(function(){
      var $ppc = $('.progress-pie-chart'),
        percent = parseInt($ppc.data('percent')),
        deg = 360*percent/100;
      if (percent > 50) {
        $ppc.addClass('gt-50');
      }
      $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
      $('.ppc-percents span').html(percent+'%');
    });
  </script>
<% end %>
