
<div class="dashboard-page">

  <div class="top-stats">
    <div class="stat">
      <div class="stat-inside">
        <h2> Surfing</h2>
        <span>Most Popular Activity</span>
      </div>
    </div>
    <div class="stat">
      <div class="stat-inside">
        <h2> $12,000</h2>
        <span> Weekly Sales</span>
      </div>
    </div>
    <div class="stat">
      <div class="stat-inside">
          <div class="progress-pie-chart" data-percent="43">
            <div class="ppc-progress">
              <div class="ppc-progress-fill"></div>
            </div>
            <div class="ppc-percents">
              <div class="pcc-percents-wrapper">
                <span>%</span>
              </div>
            </div>
          </div>
          <span> Weekly Sales</span>
      </div>
    </div>
  </div>


  <div class="dashboard-chart-div">
    <div class="dashboard-chart" id="chart_container"></div>
    <div></div>
  </div>

</div>



<%= content_for(:after_js) do %>
  <script>

    Highcharts.chart('chart_container', {
        title: {
            text: 'Guest Activities'
        },

        subtitle: {
            text: ''
        },

        yAxis: {
            title: {
                text: 'Number of Guests'
            }
        },

        xAxis: {
        type: 'datetime'
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                },
                pointStart: Date.UTC(2017, 0, 1),
                pointInterval: 200 * 3600 * 1000
            }
        },

        series: [{
            name: 'Surfing',
            data: [233, 454, 654, 456, 799, 800, 754, 1011]
        }, {
            name: 'Yoga',
            data: [233, 267, 300, 277, 288, 261, 312, 305]
        }, {
            name: 'Paddleboarding',
            data: [110, 130, 145, 165, 190, 210, 432, 560]
        }, {
            name: 'Snorkelling',
            data: [null, null, 433, 568, 657, 650, 720, 790]
        }, {
            name: 'Watersports',
            data: [120, 370, 340, 290, 270, 360, 320, 660]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    },
                }
            }]
        }

    });

// pie chart thing
        $(function(){
      var $ppc = $('.progress-pie-chart'),
        percent = parseInt($ppc.data('percent')),
        deg = 360*percent/100;
      if (percent > 50) {
        $ppc.addClass('gt-50');
      }
      $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
      $('.ppc-percents span').html(percent+'%');
    });
  </script>
<% end %>
