<div class="container-add" >
  <div class="top-line">
    <h1><%= @activity.name %></h1>
      <%= link_to "add a new availability", new_admin_activity_path, class: "btn btn-primary", id: "add" %>
  </div>

  <div class="tabs">
  <a class="tab active" href="#">
    <p>Activity Details</p>
  </a>
  <a class="tab" href="#">
    <p>Activity Schedule</p>
  </a>
</div>

<%= render "shared/activity-schedule"  %>

</div>
