<div class="show-page-header" >
  <div class="calendar-header">
    <div class="top-line-show">
      <h1><%= @activity.name %></h1>
        <%= link_to new_admin_activity_availability_path(@activity), class: "btn btn-primary", id: "add"  do%>
        <i class="fa fa-plus"></i> add a new availability
        <% end %>
    </div>
  </div>

    <div class="tabs">
      <p class="tab active" id="schedule"><i class="fa fa-circle"></i> Activity Schedule</p>
      <p class="tab " id="details"> Activity Details</p>
    </div>
</div>
<div>

  <div class="activity-infos "><%= render "shared/activity-info"  %></div>
  <div class="activity-schedule active"><%= render "shared/activity-schedule" %></div>
</div>


<% content_for(:after_js) do %>
<script>
    // hiding and showing activity-info and activity-schedule
    const details_tab = document.getElementById("details")
    const schedule_tab = document.getElementById("schedule")

    const details = document.querySelector(".activity-infos")
    const schedule = document.querySelector(".activity-schedule")

    details_tab.addEventListener("click", event => {
      details_tab.classList.toggle("active")
      schedule_tab.classList.toggle("active")

      details.classList.toggle("active");
      schedule.classList.toggle("active")
    });

    schedule_tab.addEventListener("click", event => {
      details_tab.classList.toggle("active")
      schedule_tab.classList.toggle("active")

      details.classList.toggle("active");
      schedule.classList.toggle("active")
    });
</script>
<% end %>
