.activity-infos.active {
  display: block;
    background-color: transparent;
}

.activity-infos {
  display: none;
}


.activity-schedule.active {
  display: block;
  background-color: transparent;
}

.activity-schedule {
  display: none;
}

.activity-info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.schedule {
  background: white;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.info {
  margin: 15px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  h1 {
    font-family: avenir;
    font-weight: 100;
    color: #233539;
  }
    h2 {
    font-family: avenir;
    font-weight: 100;
    color: #233539;
    font-size: 14px;
  }
  h3 {
    font-family: avenir;
    font-weight: 100;
    color: #233539;
    font-size: 18px;
  }
    p {
    font-family: avenir;
    font-weight: 100;
    color: #233539;
    font-size: 14px;
  }
}

#info-photo {
  height: 300px;
}


