
.show-page-header {
  position: relative;
  background-color: #49bce9;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  a {
    p {
    padding: 27px;
    font-size: 14px;
    color: black;
    opacity: 0.8;
    }
  }

  h1 {
    color: white !important;
    margin-top: 25px;
    margin-bottom: 45px;
    margin-left: 27px;
  }
  .tab.active {
    background-color: transparent;

  }

  .tabs {
    padding-right: 320px;
    background: #3aa6d0;

    p {
      opacity: 0.8;
      color: white;
    }

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
    }

      a:hover {
        cursor: pointer;
        opacity: 1;
      }

  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    width: 260px;
    height: 64px;
    bottom: 0px;
    right: 0px;
    border: none;
    border-radius: 0;
    background: #098cc1;
    color: white;

    .fa {
      position: relative;
      margin-right: 10px;
      top: 1px;
    }
  }


}

.top-line-show {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-family: avenir;
    font-weight: 100;
    color: #233539;
  }
}

.activity-infos.active {
  display: block;
    background-color: transparent;
}

.activities-details {
  display: flex;

  .activity-picture {
    width: 70%;
    height: 529px;
    background-size: cover;
  }

  .activity-info {
    display: flex;
    width: 30%;
  }
  background-color: white;

}


.activity-schedule.active {
  display: block;
  background-color: transparent;
}

.activity-schedule {
  display: none;
}

.schedule {
  background: white;
  padding: 40px 20px;

}

// Info Page

#info-photo {
  // height: 300px;
  flex-grow: 2;
}

.test {
  background-color: blue;
}

.activities-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info {
  margin: 15px;
  padding: 20px;
  background: white;

  h1 {
    font-size: 2em;
    font-family: avenir;
    font-weight: 100;
    color: #233539;
  }

  h2 {
    font-family: avenir;
    font-weight: 100;
    color: #233539;
    font-size: 18px;
    margin: 12px 0;
  }

  p {
    font-family: avenir;
    font-weight: 100;
    color: #233539;
    font-size: 16px;
  }
}
