// page
.dashboard-page {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 30px;
}

// stats bar
.top-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 33.33333%;
  margin-top: -20px;
}

.stat {
  display: flex;
  align-items: center;
  width: 300px;
  height: 150px;


  h2 {
    margin-top: 10px;
    text-transform: capitalize;
    font-family: avenir;
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    opacity: 0.8;
  }
  span {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.3;
    text-transform: capitalize;
    font-family: avenir;
    line-height: 1em;
  }
}

.stat-inside {
  display: block;
}




// chart
.dashboard-chart {
  width: 650px;
  height: 400px;
  margin-top: 20px;
  margin-left: -34px;
}


.dashboard-chart-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.66666%;
  margin-top: 55px;

  span {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.3;
    text-transform: capitalize;
    font-family: avenir;
    line-height: 1em;
  }
}

// progress bar

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 100px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #81CE97;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 35px;
    font-weight: bold;
    color: #81CE97;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}



body {
  font-family: Arial;
  background: #f7f7f7;
}
.progress-pie-chart {
  margin: 10px auto 0;
}
