.booking-show {
  color: white;
  text-align: left;
  height: 350px;
  background-size: cover !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  display: flex;
  // align-items: left;
  // justify-content: left;
  h1 {
    font-size: 35px;
  }
}
.booking-show h2 {
  font-size: 20px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.booking-show p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.booking-content {
  padding: 20px 80px;
}
