.filter-image {
  height: 33px !important;
  width: 33px !important;
}

.shiftright {
  margin-left: 8px !important;
}

.samback {
  font-size: 15px;
}

.slider.slider-horizontal {
  width:100%;
  margin-left: 4px;
  margin-right: 4px;
}
