.filter-image {
  height: 33px !important;
  width: 33px !important;
}

.shiftright {
  margin-left: 8px !important;
}

.samback {
  font-size: 15px;
  color: #333333;
}

.slider{
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.slider.slider-horizontal
{
  width:100%;
}
