.main-container {
  display: flex;
}

.page-content {
  flex-grow: 1;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  background-color: #F4F8F9;
}

#add {
  margin: 15px;
}

.container {
  width: 80%;
}
