.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  margin-bottom: 0;
  min-width: 110px;
  background-color: #F7F7F7;
  border-radius: 3px;
  overflow-wrap: break-word;
  padding: 11px 10px 8px 10px;
  p {
    font-size: 14px;
    margin: 0;
  }
}

.message_body {
  width: 100%;
}

#send-message-btn {
  height: 39px;
  margin-left: 5px;
}

.send-message-container {
  display: flex;
}

.chat-room {
  // border: 1px solid lightgrey;
  border-radius: 7px;
  // height: 42vh;
  margin: auto;
  width: 95%;
  overflow: scroll;
  padding: 10px;
}
.chat-room-employee {
  border: 1px solid grey;
  border-radius: 7px;
  height: 75vh;
  width: 80%;
  margin: auto;
  overflow: scroll;
  padding: 10px;
}
#create-message {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 7px;
  position: fixed;
  width: 100%;
  bottom: -6px;
}

.right-side-msg {
  flex-direction: row-reverse;
  justify-content: flex-start;
   .message-content {
    background-color: #F2F9FC;
  }
}
 .avatar-msg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
}
.chat-window-guest {
  // position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 425px);
  overflow-y: auto;
}
.msg-author {
  font-weight: bold;
  font-size: 11px;
}
.chat-window-employee {
  position: fixed;
  bottom: 0;
  right: 0;
}

// .message-body {
//   margin-bottom: 0px !important;
// }
