.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 11px 10px 8px 10px;
  p {
    font-size: 14px;
    margin: 0;
  }
}
.chat-room {
  border: 1px solid lightgrey;
  border-radius: 7px;
  height: 35vh;
  margin: auto;
  width: 95%;
  overflow: scroll;
  padding: 10px;
}

#create-message {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 7px;
}
.message_content {
  margin-bottom: 0;
}

.right-side {
 justify-content: flex-end;
   .message-content {
    background-color: #F2F9FC;
  }
}
 .avatar-msg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
}
.chat-window-guest {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.msg-author {
  font-weight: bold;
  font-size: 11px;
}
.chat-window-employee {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 50%;
}
