.modal-backdrop.fade.in {
animation-name: none;
}

.modal-dialog {
opacity: 0.8;
}

.modal-content {
 background-color: #E3F1FC;
 border-radius: 23px;
}

.d {
 background-color: transparent;
 border-color: $blue;
 border-width: 2px;
}

.d:hover{
 background-color: $blue;
 border-color: $blue;
 color: white;
}

.d:active{
 background-color: #9FD2FC !important;
 border-color: $blue !important;
}

.l{
 padding-left: 8px;
}

.x{
 text-align: center;
}

.modal-footer {
  text-align: left !important;
}

