.fa-bell {
  font-size: 18px;
  position: absolute;
}
.notification {
  color: #4c4c4c;
  font-size: 14px;
  border-bottom: 1px solid #4c4c4c2b;
  display: flex;
  align-items: center;
  p {
    flex: 1 0 auto;
    margin: 0 10px;
    font-weight: bold;
  }
}
.notif-badge {
  background-color: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: relative;
  bottom: 5px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: white;
    font-size: 8px;
    margin: 1px 1px 0 0 ;
  }
}

.hide-notif {
  display: none;
}

.notif-container {
  max-height: 150px;
  overflow: scroll;
  background: white;
  width: 243px;
  border: 1px solid #028090;
  border-radius: 3px;
  z-index: 1000;
  padding: 7px;
}

.notif-container:last-child a > div {
  border-bottom: none;
}

.read {
  font-size: 13px;
}
.cleared {
  font-size: 13px;
}
.clear-read {
  display: flex;
  justify-content: space-between;
}
#employee-bell {
  color: white;
}
// Flexbox
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
