/* Sidebar */
.sidebar {
  flex: 0 0 200px;
  height: 100vh;
  background: #2D3033;
  color: white;
  font-size: 14px;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
  margin-top: 20px;
  text-decoration: none;
}
.sidebar li {
  padding: 20px 20px;
  font-weight: bold;
}

.sidebar ul li:hover {
  background-color: #25282B;
  cursor: pointer;
  text-decoration: none;
  .fa {
    color: white;
    opacity: 1;
    text-decoration: none;
  }
  a {
    color: white;
  }
    p {
    color: white;
    text-decoration: none;
  }
}

.nav-active {
  background-color: #25282B;
  cursor: pointer;
  text-decoration: none;
  .fa {
    color: white;
    opacity: 1;
  }
  a {
    color: white;
  }
  p {
    color: white;
  }
}

.sidebar i:hover{
  color: white;
}

.sidebar li:active {
  background-color: #25282B;

}

.sidebar li:focus {
  background-color: #25282B;
}

.sidebar i {
  opacity: 0.5;
  width: 15px;
  margin-right: 10px;
  margin-left: 5px;
}


/* Sidebar link */
.sidebar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.sidebar-wagon-link:hover {
  color: white;
  text-decoration: none;
}

/* Basic navbar item */
.sidebar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  display:flex;
}

/* Blue line */
.line {
  height: 20px;
  width: 5px;
  background-color: #00BBE8;
}

.navi {
  display: flex;
}

