.step-1 {

}

.plusminus {
  display: flex;
  align-items: center;
}

.users {
  display: flex;
}

.form-minus, .form-plus {
  cursor: pointer;
}

.group-master {
  display: flex;
  background-color: white;
  align-items: center;
}
.active {
  display: block;
}

.hidden-step {
  visibility: hidden;
}

.form-next {
  cursor: pointer;
  background-color: $green;
  width: 53px;
  height: 25px;
  padding-bottom: 10px;
  padding-top: 2px;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-size: 14px;
  // position: absolute;
  padding-right: 11px;
  padding-left: 9px;
  margin-bottom: 3px;
  margin-left: 114%;
}


#ppl{
  margin-bottom: 0;
}

.step-title {
  margin-bottom: 20px;
    h2 {
    margin-top: 0px;
    margin-left: 10px;
  }
;
}

#navbar-form {
  border-style: solid;
  border-color: #D2D6DF;
  border-width: 1px 0;
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
}

// DO NOT APPLY CSS ON FORM CONTROL
// .form-control {
//   border: 0;
//   box-shadow: none;
//   transition: none;
//   font-size: 40px;
//   font-weight: 500;
//   color: #484848;
//   margin-bottom: 10px;
// }

#booking_no_ppl {
  // width: 60px;
  // height: 40px;
}
.fa-user {
  margin-right: 10px;
}

.users {
  display: flex;
  align-items: center;
}

.fa-minus-circle {
  color: #028090;
}

.fa-plus-circle {
  color: #028090;
}

.submit-step {
  background-color: #2BB2AC;
  width: 80px;
  height: 40px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  text-align: center;
}

.fa-2x {
  font-size: 24px !important;
}
