.tabs {
  display: flex;
  padding-left: 20px;
}
.tabs a {
  color: white;
  opacity: 0.8;
}
.tabs a:hover {
  cursor: pointer;
  opacity: 1;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  text-align: center;
  padding: 10px 0;
}

.tab.active {
  color: white;
  background-color: 0;
}

.activity-info {

}

#info {
  padding: 20px;

}

#schedule {
  padding: 20px;
}
