<div class="booking-tabs">
  <div class="booking-tab booking-active" id="booking-info">
    <h5>Booking Details</h5>
  </div>
  <div class="booking-tab " id="booking-chat">
    <h5>Chat</h5>
  </div>
</div>

<div class="booking-body">
  <div class="booking-body-info "><%= render "shared/booking-info"  %></div>
  <div class="booking-body-chat hidden"><%= render "shared/booking-chat" %></div>
</div>


<% content_for(:after_js) do %>
<script>
    // hiding and showing activity-info and activity-schedule
    const infoTab = document.getElementById("booking-info")
    const chatTab = document.getElementById("booking-chat")

    const bodyInfo = document.querySelector(".booking-body-info")
    const bodyChat = document.querySelector(".booking-body-chat")

    infoTab.addEventListener("click", event => {
      infoTab.classList.toggle("booking-active")
      chatTab.classList.toggle("booking-active")

      bodyInfo.classList.toggle("hidden")
      bodyChat.classList.toggle("hidden")
    });

    chatTab.addEventListener("click", event => {
      infoTab.classList.toggle("booking-active")
      chatTab.classList.toggle("booking-active")

      bodyInfo.classList.toggle("hidden")
      bodyChat.classList.toggle("hidden")
    });
</script>
<% end %>
